In [1]:
import os
os.getcwd()
os.chdir("C:/Users/L-ven Lew/Desktop/UM/Semester 4 UM/WQD 7005 Data Mining/Final Exam/Final Exam Question 1")
os.getcwd()

'C:\\Users\\L-ven Lew\\Desktop\\UM\\Semester 4 UM\\WQD 7005 Data Mining\\Final Exam\\Final Exam Question 1'

In [2]:
import requests
import bs4
import json
import datetime
import pandas as pd
page = requests.get("https://finance.yahoo.com/quote/MBBM.KL/history?period1=1425945600&period2=1583798400&interval=1d&filter=history&frequency=1d")

from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

listScript = soup.find_all("script")
for script in listScript:
    txtScript = script.string
    if type(txtScript) is bs4.element.NavigableString and txtScript.find('HistoricalPriceStore') != -1:
        MBB = pd.DataFrame(columns=['date','close'])
        txtInfo = txtScript[txtScript.find('HistoricalPriceStore'):txtScript.find('}],"isPending":false,"firstTradeDate":')]
        txtInfo = "{\"" + txtInfo + "}]}}"
        objJson = json.loads(txtInfo)
        for price in objJson['HistoricalPriceStore']['prices']:
            txtDate = ""
            txtClose = ""
            for attr,val in price.items():
                if attr == "date" and val != None:
                    txtDate = datetime.datetime.fromtimestamp(val).strftime('%Y-%m-%d')
                if attr == "close" and val != None:
                    txtClose = str(val)
            if txtDate != "" and txtClose != "":
                MBB = MBB.append({"date":txtDate, "close":txtClose}, ignore_index=True)
        print(MBB)
        
MBB.to_csv(r"C:/Users/L-ven Lew/Desktop/UM/Semester 4 UM/WQD 7005 Data Mining/Final Exam/Final Exam Question 1/MBB.csv",index = False)

            date              close
0     2020-03-09  8.239999771118164
1     2020-03-06                8.5
2     2020-03-05  8.529999732971191
3     2020-03-04  8.470000267028809
4     2020-03-03   8.40999984741211
...          ...                ...
1237  2015-03-16   9.09000015258789
1238  2015-03-13  9.100000381469727
1239  2015-03-12  9.119999885559082
1240  2015-03-11   9.09000015258789
1241  2015-03-10  9.229999542236328

[1242 rows x 2 columns]

In [3]:
import requests
import bs4
import json
import datetime
import pandas as pd
page = requests.get("https://finance.yahoo.com/quote/COMM.KL/history?period1=1425945600&period2=1583798400&interval=1d&filter=history&frequency=1d")

from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())


listScript = soup.find_all("script")
for script in listScript:
    txtScript = script.string
    if type(txtScript) is bs4.element.NavigableString and txtScript.find('HistoricalPriceStore') != -1:
        CIMB = pd.DataFrame(columns=['date','close'])
        txtInfo = txtScript[txtScript.find('HistoricalPriceStore'):txtScript.find('}],"isPending":false,"firstTradeDate":')]
        txtInfo = "{\"" + txtInfo + "}]}}"
        objJson = json.loads(txtInfo)
        for price in objJson['HistoricalPriceStore']['prices']:
            txtDate = ""
            txtClose = ""
            for attr,val in price.items():
                if attr == "date" and val != None:
                    txtDate = datetime.datetime.fromtimestamp(val).strftime('%Y-%m-%d')
                if attr == "close" and val != None:
                    txtClose = str(val)
            if txtDate != "" and txtClose != "":
                CIMB = CIMB.append({"date":txtDate, "close":txtClose}, ignore_index=True)
        print(CIMB)
        
CIMB.to_csv(r"C:/Users/L-ven Lew/Desktop/UM/Semester 4 UM/WQD 7005 Data Mining/Final Exam/Final Exam Question 1/CIMB.csv",index = False)

            date              close
0     2020-03-09  4.199999809265137
1     2020-03-06  4.440000057220459
2     2020-03-05                4.5
3     2020-03-04  4.539999961853027
4     2020-03-03                4.5
...          ...                ...
1238  2015-03-16  5.909999847412109
1239  2015-03-13  5.920000076293945
1240  2015-03-12  5.849999904632568
1241  2015-03-11  5.800000190734863
1242  2015-03-10  5.949999809265137

[1243 rows x 2 columns]

In [4]:
import requests
import bs4
import json
import datetime
import pandas as pd
page = requests.get("https://finance.yahoo.com/quote/RHBC.KL/history?period1=1425945600&period2=1583798400&interval=1d&filter=history&frequency=1d")

from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())


listScript = soup.find_all("script")
for script in listScript:
    txtScript = script.string
    if type(txtScript) is bs4.element.NavigableString and txtScript.find('HistoricalPriceStore') != -1:
        RHB = pd.DataFrame(columns=['date','close'])
        txtInfo = txtScript[txtScript.find('HistoricalPriceStore'):txtScript.find('}],"isPending":false,"firstTradeDate":')]
        txtInfo = "{\"" + txtInfo + "}]}}"
        objJson = json.loads(txtInfo)
        for price in objJson['HistoricalPriceStore']['prices']:
            txtDate = ""
            txtClose = ""
            for attr,val in price.items():
                if attr == "date" and val != None:
                    txtDate = datetime.datetime.fromtimestamp(val).strftime('%Y-%m-%d')
                if attr == "close" and val != None:
                    txtClose = str(val)
            if txtDate != "" and txtClose != "":
                RHB = RHB.append({"date":txtDate, "close":txtClose}, ignore_index=True)
        print(RHB)
        
RHB.to_csv(r"C:/Users/L-ven Lew/Desktop/UM/Semester 4 UM/WQD 7005 Data Mining/Final Exam/Final Exam Question 1/RHB.csv",index = False)

            date              close
0     2020-03-09   5.46999979019165
1     2020-03-06  5.699999809265137
2     2020-03-05  5.710000038146973
3     2020-03-04  5.710000038146973
4     2020-03-03  5.639999866485596
...          ...                ...
1238  2015-03-16  7.265110015869141
1239  2015-03-13  7.199659824371338
1240  2015-03-12  7.237060070037842
1241  2015-03-11  7.349259853363037
1242  2015-03-10  7.386660099029541

[1243 rows x 2 columns]

In [5]:
# 1) You are required  to write code that will crawl the WWW (your familiar domain) of a particular website and collect data from social media or from report or news and so on and to produce dataset.
## Scrape KLCI Data
page = requests.get("https://finance.yahoo.com/quote/%5EKLSE%3FP%3D%5EKLSE/history?period1=1425945600&period2=1583798400&interval=1d&filter=history&frequency=1d")
page.status_code

from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())


listScript = soup.find_all("script")
for script in listScript:
    txtScript = script.string
    if type(txtScript) is bs4.element.NavigableString and txtScript.find('HistoricalPriceStore') != -1:
        KLCI = pd.DataFrame(columns=['date','close'])
        txtInfo = txtScript[txtScript.find('HistoricalPriceStore'):txtScript.find('}],"isPending":false,"firstTradeDate":')]
        txtInfo = "{\"" + txtInfo + "}]}}"
        objJson = json.loads(txtInfo)
        for price in objJson['HistoricalPriceStore']['prices']:
            txtDate = ""
            txtClose = ""
            for attr,val in price.items():
                if attr == "date" and val != None:
                    txtDate = datetime.datetime.fromtimestamp(val).strftime('%Y-%m-%d')
                if attr == "close" and val != None:
                    txtClose = str(val)
            if txtDate != "" and txtClose != "":
                KLCI = KLCI.append({"date":txtDate, "close":txtClose}, ignore_index=True)
        print(KLCI)
KLCI.to_csv(r'C:/Users/L-ven Lew/Desktop/UM/Semester 4 UM/WQD 7005 Data Mining/Final Exam/Final Exam Question 1/KLCI3.csv',index = False)
KLCI

            date               close
0     2020-03-09  1424.1600341796875
1     2020-03-06  1483.0999755859375
2     2020-03-05   1491.030029296875
3     2020-03-04   1489.949951171875
4     2020-03-03  1478.6400146484375
...          ...                 ...
1221  2015-03-16     1780.5400390625
1222  2015-03-13             1781.75
1223  2015-03-12  1786.8699951171875
1224  2015-03-11  1778.1600341796875
1225  2015-03-10    1789.72998046875

[1226 rows x 2 columns]

            date               close
0     2020-03-09  1424.1600341796875
1     2020-03-06  1483.0999755859375
2     2020-03-05   1491.030029296875
3     2020-03-04   1489.949951171875
4     2020-03-03  1478.6400146484375
...          ...                 ...
1221  2015-03-16     1780.5400390625
1222  2015-03-13             1781.75
1223  2015-03-12  1786.8699951171875
1224  2015-03-11  1778.1600341796875
1225  2015-03-10    1789.72998046875

[1226 rows x 2 columns]

In [6]:
import requests
import bs4
import json
import datetime
import pandas as pd
page = requests.get("https://finance.yahoo.com/quote/%5EDJI/history?period1=1425945600&period2=1583798400&interval=1d&filter=history&frequency=1d")

from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

listScript = soup.find_all("script")
for script in listScript:
    txtScript = script.string
    if type(txtScript) is bs4.element.NavigableString and txtScript.find('HistoricalPriceStore') != -1:
        DJI = pd.DataFrame(columns=['date','close'])
        txtInfo = txtScript[txtScript.find('HistoricalPriceStore'):txtScript.find('}],"isPending":false,"firstTradeDate":')]
        txtInfo = "{\"" + txtInfo + "}]}}"
        objJson = json.loads(txtInfo)
        for price in objJson['HistoricalPriceStore']['prices']:
            txtDate = ""
            txtClose = ""
            for attr,val in price.items():
                if attr == "date" and val != None:
                    txtDate = datetime.datetime.fromtimestamp(val).strftime('%Y-%m-%d')
                if attr == "close" and val != None:
                    txtClose = str(val)
            if txtDate != "" and txtClose != "":
                DJI = DJI.append({"date":txtDate, "close":txtClose}, ignore_index=True)
        print(DJI)
        
DJI.to_csv(r"C:/Users/L-ven Lew/Desktop/UM/Semester 4 UM/WQD 7005 Data Mining/Final Exam/Final Exam Question 1/DJI.csv",index = False)

            date            close
0     2020-03-09   23851.01953125
1     2020-03-06  25864.779296875
2     2020-03-05  26121.279296875
3     2020-03-04     27090.859375
4     2020-03-03   25917.41015625
...          ...              ...
1254  2015-03-16  17977.419921875
1255  2015-03-13  17749.310546875
1256  2015-03-12  17895.220703125
1257  2015-03-11     17635.390625
1258  2015-03-10  17662.939453125

[1259 rows x 2 columns]

In [7]:
import requests
import bs4
import json
import datetime
import pandas as pd
page = requests.get("https://finance.yahoo.com/quote/%5EGSPC/history?period1=1425945600&period2=1583798400&interval=1d&filter=history&frequency=1d")
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

listScript = soup.find_all("script")
for script in listScript:
    txtScript = script.string
    if type(txtScript) is bs4.element.NavigableString and txtScript.find('HistoricalPriceStore') != -1:
        SNP = pd.DataFrame(columns=['date','close'])
        txtInfo = txtScript[txtScript.find('HistoricalPriceStore'):txtScript.find('}],"isPending":false,"firstTradeDate":')]
        txtInfo = "{\"" + txtInfo + "}]}}"
        objJson = json.loads(txtInfo)
        for price in objJson['HistoricalPriceStore']['prices']:
            txtDate = ""
            txtClose = ""
            for attr,val in price.items():
                if attr == "date" and val != None:
                    txtDate = datetime.datetime.fromtimestamp(val).strftime('%Y-%m-%d')
                if attr == "close" and val != None:
                    txtClose = str(val)
            if txtDate != "" and txtClose != "":
                SNP = SNP.append({"date":txtDate, "close":txtClose}, ignore_index=True)
        print(SNP)
        
SNP.to_csv(r"C:/Users/L-ven Lew/Desktop/UM/Semester 4 UM/WQD 7005 Data Mining/Final Exam/Final Exam Question 1/SNP.csv",index = False)
SNP

            date               close
0     2020-03-09    2746.56005859375
1     2020-03-06     2972.3701171875
2     2020-03-05    3023.93994140625
3     2020-03-04     3130.1201171875
4     2020-03-03     3003.3701171875
...          ...                 ...
1254  2015-03-16    2081.18994140625
1255  2015-03-13    2053.39990234375
1256  2015-03-12   2065.949951171875
1257  2015-03-11   2040.239990234375
1258  2015-03-10  2044.1600341796875

[1259 rows x 2 columns]

            date               close
0     2020-03-09    2746.56005859375
1     2020-03-06     2972.3701171875
2     2020-03-05    3023.93994140625
3     2020-03-04     3130.1201171875
4     2020-03-03     3003.3701171875
...          ...                 ...
1254  2015-03-16    2081.18994140625
1255  2015-03-13    2053.39990234375
1256  2015-03-12   2065.949951171875
1257  2015-03-11   2040.239990234375
1258  2015-03-10  2044.1600341796875

[1259 rows x 2 columns]

In [8]:
MBB['date'] = pd.to_datetime(MBB.date)
CIMB['date'] = pd.to_datetime(CIMB.date)
RHB['date'] = pd.to_datetime(RHB.date)
KLCI['date'] = pd.to_datetime(KLCI.date)
DJI['date'] = pd.to_datetime(DJI.date)
SNP['date'] = pd.to_datetime(SNP.date)

In [9]:
MBB['Type_of_Index'] = 'Malaysia Stock'
CIMB['Type_of_Index'] = 'Malaysia Stock'
RHB['Type_of_Index'] = 'Malaysia Stock'
KLCI['Type_of_Index'] = 'Malaysia Index'
DJI['Type_of_Index'] = 'US Index'
SNP['Type_of_Index'] = 'US Index'

In [10]:
MBB['Sector'] = 'Financial'
CIMB['Sector'] = 'Financial'
RHB['Sector'] = 'Financial'
KLCI['Sector'] = 'Top 30 Malaysia stock by Market Cap'
DJI['Sector'] = 'Top 30 US stock by Market Cap'
SNP['Sector'] = 'Top 500 US stock by Market Cap'

In [11]:
MBB['Market board'] = 'Main Board'
CIMB['Market board'] = 'Main Board'
RHB['Market board'] = 'Main Board'
KLCI['Market board'] = 'Kuala Lumpur Composite Index'
DJI['Market board'] = 'US Stock Excahnge'
SNP['Market board'] = 'US Stock Excahnge'

In [12]:
MBB['close'] = MBB['close'].astype(float)
CIMB['close'] = CIMB['close'].astype(float)
RHB['close'] = RHB['close'].astype(float)
KLCI['close']= KLCI['close'].astype(float)
DJI['close'] = DJI['close'].astype(float)
SNP['close'] = SNP['close'].astype(float)

In [13]:
MBB['Month_Year'] = pd.to_datetime(MBB['date']).dt.to_period('M')
CIMB['Month_Year'] = pd.to_datetime(CIMB['date']).dt.to_period('M')
RHB['Month_Year'] = pd.to_datetime(RHB['date']).dt.to_period('M')
KLCI['Month_Year'] = pd.to_datetime(KLCI['date']).dt.to_period('M')
DJI['Month_Year'] = pd.to_datetime(DJI['date']).dt.to_period('M')
SNP['Month_Year'] = pd.to_datetime(SNP['date']).dt.to_period('M')

In [14]:
MBB['Name of Stock/ Index'] = 'MBB'
CIMB['Name of Stock/ Index'] = 'CIMB'
RHB['Name of Stock/ Index'] = 'RHB'
KLCI['Name of Stock/ Index'] = 'KLCI'
DJI['Name of Stock/ Index'] = 'DJI'
SNP['Name of Stock/ Index'] = 'SNP'

In [15]:
MBB['Monthly_Average'] = MBB['close'].groupby(MBB['Month_Year']).transform('mean')
CIMB['Monthly_Average'] = CIMB['close'].groupby(CIMB['Month_Year']).transform('mean')
RHB['Monthly_Average'] = RHB['close'].groupby(RHB['Month_Year']).transform('mean')
KLCI['Monthly_Average'] = KLCI['close'].groupby(KLCI['Month_Year']).transform('mean')
DJI['Monthly_Average'] = DJI['close'].groupby(DJI['Month_Year']).transform('mean')
SNP['Monthly_Average'] = SNP['close'].groupby(SNP['Month_Year']).transform('mean')

In [16]:
MBB.info()
CIMB.info()
RHB.info()
KLCI.info()
DJI.info()
SNP.info()

MBB.head()
CIMB.head()
RHB.head()
KLCI.head()
DJI.head()
SNP.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1242 non-null   datetime64[ns]
 1   close                 1242 non-null   float64
 2   Type_of_Index         1242 non-null   object
 3   Sector                1242 non-null   object
 4   Market board          1242 non-null   object
 5   Month_Year            1242 non-null   period[M]
 6   Name of Stock/ Index  1242 non-null   object
 7   Monthly_Average       1242 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(4), period[M](1)
memory usage: 77.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243 entries, 0 to 1242
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1243 non-null   datetime64[ns]
 1   close                 1243 non-null   float64
 2   Type_of_Index         1243 non-null   object
 3   Sector                1243 non-null   object
 4   Market board          1243 non-null   object
 5   Month_Year            1243 non-null   period[M]
 6   Name of Stock/ Index  1243 non-null   object
 7   Monthly_Average       1243 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(4), period[M](1)
memory usage: 77.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243 entries, 0 to 1242
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1243 non-null   datetime64[ns]
 1   close                 1243 non-null   float64
 2   Type_of_Index         1243 non-null   object
 3   Sector                1243 non-null   object
 4   Market board          1243 non-null   object
 5   Month_Year            1243 non-null   period[M]
 6   Name of Stock/ Index  1243 non-null   object
 7   Monthly_Average       1243 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(4), period[M](1)
memory usage: 77.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226 entries, 0 to 1225
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1226 non-null   datetime64[ns]
 1   close                 1226 non-null   float64
 2   Type_of_Index         1226 non-null   object
 3   Sector                1226 non-null   object
 4   Market board          1226 non-null   object
 5   Month_Year            1226 non-null   period[M]
 6   Name of Stock/ Index  1226 non-null   object
 7   Monthly_Average       1226 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(4), period[M](1)
memory usage: 76.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1259 non-null   datetime64[ns]
 1   close                 1259 non-null   float64
 2   Type_of_Index         1259 non-null   object
 3   Sector                1259 non-null   object
 4   Market board          1259 non-null   object
 5   Month_Year            1259 non-null   period[M]
 6   Name of Stock/ Index  1259 non-null   object
 7   Monthly_Average       1259 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(4), period[M](1)
memory usage: 78.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1259 non-null   datetime64[ns]
 1   close                 1259 non-null   float64
 2   Type_of_Index         1259 non-null   object
 3   Sector                1259 non-null   object
 4   Market board          1259 non-null   object
 5   Month_Year            1259 non-null   period[M]
 6   Name of Stock/ Index  1259 non-null   object
 7   Monthly_Average       1259 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(4), period[M](1)
memory usage: 78.8+ KB

,date,close,Type_of_Index,Sector,Market board,Month_Year,Name of Stock/ Index,Monthly_Average
0,2020-03-09,2746.560059,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2020-03,SNP,2994.431722
1,2020-03-06,2972.370117,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2020-03,SNP,2994.431722
2,2020-03-05,3023.939941,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2020-03,SNP,2994.431722
3,2020-03-04,3130.120117,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2020-03,SNP,2994.431722
4,2020-03-03,3003.370117,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2020-03,SNP,2994.431722

In [17]:
MBB['Country'] = 'MY'
CIMB['Country'] = 'MY'
RHB['Country'] = 'MY'
KLCI['Country']= 'MY'
DJI['Country'] = 'US'
SNP['Country'] = 'US'

MBB['Index_Type'] = 'Stock'
CIMB['Index_Type'] = 'Stock'
RHB['Index_Type'] = 'Stock'
KLCI['Index_Type']= 'Stock'
DJI['Index_Type'] = 'Index'
SNP['Index_Type'] = 'index'

In [18]:
DF = pd.concat([MBB, CIMB, RHB, KLCI, DJI, SNP], ignore_index=True)
DF.rename(columns={'date':'Trading_Date',
                          'close':'Closing_Index/Price'},
                 inplace=True)

print(DF)
DF.isnull().sum()

     Trading_Date  Closing_Index/Price   Type_of_Index  \
0      2020-03-09             8.240000  Malaysia Stock
1      2020-03-06             8.500000  Malaysia Stock
2      2020-03-05             8.530000  Malaysia Stock
3      2020-03-04             8.470000  Malaysia Stock
4      2020-03-03             8.410000  Malaysia Stock
...           ...                  ...             ...
7467   2015-03-16          2081.189941        US Index
7468   2015-03-13          2053.399902        US Index
7469   2015-03-12          2065.949951        US Index
7470   2015-03-11          2040.239990        US Index
7471   2015-03-10          2044.160034        US Index

                              Sector       Market board Month_Year  \
0                          Financial         Main Board    2020-03
1                          Financial         Main Board    2020-03
2                          Financial         Main Board    2020-03
3                          Financial         Main Board    2020-03
4                          Financial         Main Board    2020-03
...                              ...                ...        ...
7467  Top 500 US stock by Market Cap  US Stock Excahnge    2015-03
7468  Top 500 US stock by Market Cap  US Stock Excahnge    2015-03
7469  Top 500 US stock by Market Cap  US Stock Excahnge    2015-03
7470  Top 500 US stock by Market Cap  US Stock Excahnge    2015-03
7471  Top 500 US stock by Market Cap  US Stock Excahnge    2015-03

     Name of Stock/ Index  Monthly_Average Country Index_Type
0                     MBB         8.423333      MY      Stock
1                     MBB         8.423333      MY      Stock
2                     MBB         8.423333      MY      Stock
3                     MBB         8.423333      MY      Stock
4                     MBB         8.423333      MY      Stock
...                   ...              ...     ...        ...
7467                  SNP      2074.022484      US      index
7468                  SNP      2074.022484      US      index
7469                  SNP      2074.022484      US      index
7470                  SNP      2074.022484      US      index
7471                  SNP      2074.022484      US      index

[7472 rows x 10 columns]

Trading_Date            0
Closing_Index/Price     0
Type_of_Index           0
Sector                  0
Market board            0
Month_Year              0
Name of Stock/ Index    0
Monthly_Average         0
Country                 0
Index_Type              0
dtype: int64

In [19]:
print(DF)

,Trading_Date,Closing_Index/Price,Type_of_Index,Sector,Market board,Month_Year,Name of Stock/ Index,Monthly_Average,Country,Index_Type
0,2020-03-09,8.240000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
1,2020-03-06,8.500000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
2,2020-03-05,8.530000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
3,2020-03-04,8.470000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
4,2020-03-03,8.410000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
...,...,...,...,...,...,...,...,...,...,...
7467,2015-03-16,2081.189941,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2015-03,SNP,2074.022484,US,index
7468,2015-03-13,2053.399902,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2015-03,SNP,2074.022484,US,index
7469,2015-03-12,2065.949951,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2015-03,SNP,2074.022484,US,index
7470,2015-03-11,2040.239990,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2015-03,SNP,2074.022484,US,index
7471,2015-03-10,2044.160034,US Index,Top 500 US stock by Market Cap,US Stock Excahnge,2015-03,SNP,2074.022484,US,index

In [23]:
# SELECT Index.Trading_ID, Type_of_Index, Country, Name of stock/ index
#    from Index_key.Index
#    join Name of stock/ index
#    on Name_of_stock/_index_key.Trading_ID = Index.Trading_ID limit 3;


DF[['Trading_Date', 'Type_of_Index', 'Country','Name of Stock/ Index','Sector','Market board']].head(3)

,Trading_Date,Type_of_Index,Country,Name of Stock/ Index,Sector,Market board
0,2020-03-09,Malaysia Stock,MY,MBB,Financial,Main Board
1,2020-03-06,Malaysia Stock,MY,MBB,Financial,Main Board
2,2020-03-05,Malaysia Stock,MY,MBB,Financial,Main Board

In [25]:
# SELECT index.Trading_ID, Type_of_Index, Country
#    from Index_key.index
#    join Name of Stock/ Index where Market board = "Main Board"
#    on Name_of_stock/_index_key.Trading_ID = index.Trading_ID limit 3;

DF[DF['Market board']== 'Main Board']

,Trading_Date,Closing_Index/Price,Type_of_Index,Sector,Market board,Month_Year,Name of Stock/ Index,Monthly_Average,Country,Index_Type
0,2020-03-09,8.24000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
1,2020-03-06,8.50000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
2,2020-03-05,8.53000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
3,2020-03-04,8.47000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
4,2020-03-03,8.41000,Malaysia Stock,Financial,Main Board,2020-03,MBB,8.423333,MY,Stock
...,...,...,...,...,...,...,...,...,...,...
3723,2015-03-16,7.26511,Malaysia Stock,Financial,Main Board,2015-03,RHB,7.367963,MY,Stock
3724,2015-03-13,7.19966,Malaysia Stock,Financial,Main Board,2015-03,RHB,7.367963,MY,Stock
3725,2015-03-12,7.23706,Malaysia Stock,Financial,Main Board,2015-03,RHB,7.367963,MY,Stock
3726,2015-03-11,7.34926,Malaysia Stock,Financial,Main Board,2015-03,RHB,7.367963,MY,Stock
3727,2015-03-10,7.38666,Malaysia Stock,Financial,Main Board,2015-03,RHB,7.367963,MY,Stock